@use "../../mixins.scss";

.navbar {

    @include mixins.size(100%, 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;


}

.navbarLogoAndMenu {
    background-color: rgb(14, 23, 15);
    border-radius: 40px;
    padding-left: 4%;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logoimg {
    @include mixins.size(90px, 30px);
}

.menu {
    //  width: 20%;
    display: flex;
    justify-content: space-between;
}

.navbarElements {
    color: rgb(4, 255, 104);
    font-size: medium;
    font-weight: 200;
}

.rickAndMortyLogo {
    @include mixins.size(auto, auto);
}

.darkModeIcon,
.searchIcon {
    color: aliceblue;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}



.searchAndDarkModeIcons {
    width: 10%;
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    justify-content: space-around;
}